@import "variable";
.footer{
  background: $mainGreyColor;
  .footer__body{
    padding: 106px 0 35px 0;
    .footer__links{
      display: flex;

      justify-content: space-between;

      margin: 0 406px;
      .footer__link{
        display: flex;

        & > *:not(:last-child){
          margin: 0 81px 0 0;
        }

        li{
          .link{
            font-size: 14px;
            font-weight: bold;
            font-family: $GilroyFont;
            line-height: calc(20 / 14 * 100%);

            color: black;
          }
        }
      }
      .footer__logo{
        font-size: 18px;
        font-weight: 400;

        line-height: calc(38 / 18 * 100%);

        color: $orangeColor;

        font-family: Homemade Apple;
      }
    }
    .footer__line{
      margin: 43px 220px 0 220px;
      border: .1px solid black;
    }
    .footer-website__link{
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 55.8px 0 0 0;

      & > *:not(:last-child){
        margin: 0 25.6px 0 0;
      }
    }
    .footer__date{
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 72.8px 0 0 0;

      & > *:not(:last-child){
        margin: 0 14px 0 0;
      }
    }
  }
}