@import "variable";
/**************Page__Gift**********************/
.gift-body{
  .body-section{
    display: flex;
    justify-content: space-between;

    background: $greyColor;

    .body-section__column{

      .body-section__item{

        padding: 154px 126px 127px 162px;
        text-align: start;

        .body-section__title{
          font-size: 56px;
          font-family: $GilroyFont;

          line-height:calc(69 / 56 * 100%);

          padding: 0 0 36px 0;

        }
        .body-section__text{
          width: 422px;

          font-size: 20px;
          font-family: $GilroyFont;

          line-height: 28px;

          padding: 0 0 52px 0;
        }
        .body-section__button{
          background: $orangeColor;

          border-radius: 5px;
          border: none;

          font-size: 18px;
          font-family: $GilroyFont;

          line-height: calc(22 / 18 * 100%);

          color: white;

          padding: 23px 25px;
        }
      }
    }
    .body-section__img{
      display: flex;
    }
  }
}

.c-body-section{
  display: flex;

  background: $greyColor;

  .c-body-section__img{
    display: flex;
  }

  .c-body-section__column{
    text-align: start;

    .c-body-section__item{

      padding: 151px 166px 104px 102px;

      .c-body-section__title{
        font-size: 32px;
        font-family: $GilroyFont;

        line-height: calc(45 / 32 * 100%);

        margin: 0 0 23px 0;
      }
      .c-body-section__text{
        font-size: 20px;
        font-family: $GilroyFont;

        margin: 0 12px 35px 0;
        text-align: justify;
        line-height: 28px;
      }
      .c-body-section__button{
        border: 1px solid $orangeColor;
        border-radius: 5px;

        font-size: 18px;
        font-family: $GilroyFont;

        padding: 24px 46px;

        line-height: calc(24 / 18 * 100%);

        color: $orangeColor;
      }
    }
  }
}
/***************Occasion******************/

.occasions-body{
  .occasion-header{
    padding: 96px 0 64px 0;

    .occasion__title{
      font-size: 32px;
      font-family: $GilroyFont;

      line-height: calc(38 / 32 * 100%);

      padding: 0 0 23px 0;
    }
  }
  .occasion__text{
    font-size: 18px;
    font-family: $GilroyFont;

    line-height: calc(24 / 18 * 100%);
  }
  .occasion-images{

    display: flex;
    justify-content: space-evenly;

    .occasion-column{

      .occasion__img{
        display: flex;
      }
      .occasion-info{
        background: $mainGreyColor;
        box-shadow: none;

        text-align: start;

        .occasion__link{
          padding: 24px 0 24px 24px;
          .occasion__text{

            font-size: 20px;
            font-family: $GilroyFont;
            line-height: (24 / 20 * 100%);

            padding: 0 0 74px 0;
          }
          .occasion-link{
            padding-top: 74px;
            font-size: 14px;
            font-family: Roboto;
            font-weight: 400;

            line-height: calc(19 / 14 * 100%);

            color: black;
          }
        }
      }
      .occasion-info:hover{
        background: white;
        box-shadow: 0 0 20px $greyColor;
      }
    }
  }
}
/*************Support****************/
.page__support{
  padding: 137px 0 0 0;
  .support__body{
    display: flex;

    background: $orangeColor;

    justify-content: space-evenly;

    align-items: center;

    .support-item{
      text-align: start;

      padding: 75px 0;

      .support__title{
        font-size: 32px;
        font-family: $GilroyFont;

        line-height: calc(45 / 32 * 100%);
      }
      .support__text{
        font-size: 32px;
        font-family: $GilroyFont;

        line-height: calc(45 / 32 * 100%);
      }
    }
    .support__buttons{
      display: flex;
      & > *:not(:last-child){
        margin: 0 16px 0 0;
      }
      .support-button{

        padding: 14px 24px;
        border-radius: 5px;
        border: none;

        background: #231F20;
        color: white;

        font-size: 18px;
        font-family: $GilroyFont;

        line-height: 22px;
      }
      .border{
        padding: 13.5px 24px;
        background: $orangeColor;
        border: 1px solid black;
        color: black;
      }
    }
  }

}
/*********************************/
.best-blogs-ever{
  .best-blogs-text{
    padding-top: 88px;
    span{
      font-size: 32px;
      font-family: $GilroyFont;

      line-height: 38px;
    }
    p{
      padding-top: 23px;
      font-size: 18px;
      font-family: $GilroyFont;

      line-height: 24px;
    }
  }
  .best-way-block{
    width: 1170px;
    height: 370px;
    display: flex;

    margin: 0 auto;
    margin-top: 71px;
    background: #231F20;


    .best-way-text{
      text-align: start;

      padding: 63px 0 0 78px;
      span{
        font-size: 14px;
        font-family: $GilroyFont;

        line-height: 20px;

        color: white;
      }
      p{
        width: 492px;

        padding-top: 27px;

        font-size: 48px;
        font-family: $GilroyFont;

        line-height: 58px;

        color: white;
      }
      li{
        padding-top: 60px;
        a{

          font-size: 18px;
          font-family: $GilroyFont;

          line-height: 25px;

          color: white;
        }
      }
    }
  }
  .block-with-more-info{

    width: 1170px;

    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;

    .find-gifts-for-your-girl{
      width: 570px;
      height: 290px;

      text-align: start;

      .find-gifts-text{
        padding: 48px 48px 0 48px;
        h3{
          font-size: 24px;
          font-family: $GilroyFont;

          line-height: 24px;
        }
        p{
          padding-top: 16px;

          font-size: 18px;
          font-family: $GilroyFont;

          line-height: 25px;
        }
        li{
          padding-top: 26px;
          a{
            font-size: 14px;
            font-family: $GilroyFont;

            line-height: 20px;

            color: black;
          }
        }
      }
    }
    .find-gifts-for-your-girl:hover{
      box-shadow: 0 0 20px $greyColor;
    }
  }
}

