@import "variable";
/**************Page__Gift**********************/
.gift-body{
  .body-section{
    display: flex;
    justify-content: space-between;

    background: $greyColor;

    @media (max-width: 1260px){
      flex-wrap: wrap;
      justify-content: center;
    }

    .body-section__column{
      flex: 0 1 50%;
      .body-section__item{

        padding: 154px 126px 127px 162px;

        @media (max-width: 1450px){
          padding: 120px 100px;
        }
        @media (max-width: 1260px){
          padding: 100px 80px;
        }
        @media (max-width: 768px){
          padding: 80px 60px;
          text-align: center;
        }
        text-align: start;

        .body-section__title{
          font-size: 56px;
          font-family: $GilroyFont;

          line-height:calc(69 / 56 * 100%);

          padding: 0 0 36px 0;

          @media (max-width: 1260px){
            font-size: 46px;
          }
          @media (max-width: 500px){
            padding: 0 46px 30px 46px;
            font-size: 30px;
          }

        }
        .body-section__text{
          width: 422px;

          font-size: 20px;
          font-family: $GilroyFont;

          line-height: 28px;

          padding: 0 0 52px 0;

          @media (max-width: 500px){
            padding: 0 50px 50px 50px;
            font-size: 16px;
          }
        }
        .body-section__button{
          background: $orangeColor;

          border-radius: 5px;
          border: none;

          font-size: 18px;
          font-family: $GilroyFont;

          line-height: calc(22 / 18 * 100%);

          color: white;

          padding: 23px 25px;

          @media (max-width: 425px){
            padding: 10px 25px
          }

          @media (max-width: 500px){
            padding: 18px 20px;
          }
        }
      }
    }
    .body-section__img{
      display: flex;
      flex: 0 1 50%;
      img{
        object-fit: cover;
        object-position: right;
      }
    }
  }
}

.c-body-section{
  display: flex;

  background: $greyColor;

  @media (max-width: 1260px){
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }

  .c-body-section__img{
    display: flex;
    flex: 0 1 50%;

    @media (max-width: 1260px){
      order: 2;
      margin: 0 240px 20px 200px;
    }
    @media (max-width: 990px){
      margin: 0 200px 20px 200px;
    }
    @media (max-width: 850px){
      margin: 0 150px 20px 150px;
    }
    @media (max-width: 600px){
      margin: 0 120px 20px 120px;
    }
    @media (max-width: 530px){
      margin: 0 100px 20px 100px;
    }
    @media (max-width: 454px){
      margin: 0 80px 20px 80px;
    }
    @media (max-width: 426px){
      margin: 0 60px 20px 60px;
    }

    img{
      object-fit: cover;
      object-position: left;

      @media (max-width: 1260px){
        object-fit: contain;
      }
    }
  }

  .c-body-section__column{
    text-align: start;
    flex: 0 1 50%;

    @media (max-width: 1260px){
      order: 1;
    }

    .c-body-section__item{

      padding: 151px 166px 104px 102px;

      @media (max-width: 1450px){
        padding: 120px 100px;
      }
      @media (max-width: 1260px){
        padding: 100px 300px;
      }
      @media (max-width: 768px){
        padding: 80px 60px;
        text-align: center;
      }

      .c-body-section__title{
        font-size: 32px;
        font-family: $GilroyFont;

        line-height: calc(45 / 32 * 100%);

        margin: 0 0 23px 0;
      }
      .c-body-section__text{
        font-size: 20px;
        font-family: $GilroyFont;

        margin: 0 12px 35px 0;
        text-align: justify;
        line-height: 28px;

        @media (max-width: 500px){
          text-align: start;
          margin: 0 0 35px 0;
        }
      }
      .c-body-section__button{
        border: 1px solid $orangeColor;
        border-radius: 5px;

        font-size: 18px;
        font-family: $GilroyFont;

        padding: 24px 46px;

        @media (max-width: 425px){
          padding: 10px 25px
        }

        line-height: calc(24 / 18 * 100%);

        color: $orangeColor;
      }
    }
  }
}
/***************Occasion******************/

.occasions-body{
  .occasion-header{
    padding: 96px 0 64px 0;

    .occasion__title{
      font-size: 32px;
      font-family: $GilroyFont;

      line-height: calc(38 / 32 * 100%);

      padding: 0 0 23px 0;
    }
  }
  .occasion__text{
    font-size: 18px;
    font-family: $GilroyFont;

    line-height: calc(24 / 18 * 100%);
  }
  .occasion-images{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px;

    .occasion-column{
      padding: 0 15px;

      @media (max-width: 1230px){
        padding: 0 15px 15px 15px;
      }

      .occasion__img{
        display: flex;
      }
      .occasion-info{
        background: $mainGreyColor;
        box-shadow: none;

        text-align: start;

        .occasion__link{
          padding: 24px 0 24px 24px;
          .occasion__text{

            font-size: 20px;
            font-family: $GilroyFont;
            line-height: calc(24 / 20 * 100%);

            padding: 0 0 74px 0;
          }
          .occasion-link{
            padding-top: 74px;
            font-size: 14px;
            font-family: Roboto;
            font-weight: 400;

            line-height: calc(19 / 14 * 100%);

            color: black;
          }
        }
      }
      .occasion-info:hover{
        background: white;
        box-shadow: 0 0 20px $greyColor;
      }
    }
  }
}
/*************Support****************/
.page__support{
  padding: 137px 0 0 0;
  .support__body{
    display: flex;

    background: $orangeColor;

    justify-content: space-evenly;

    align-items: center;

    @media (max-width: 890px){
      flex-direction: column;
    }

    .support-item{
      text-align: start;

      padding: 75px 0;

      @media (max-width: 890px){
        padding: 60px 0;
      }
      .support__title{
        font-size: 32px;
        font-family: $GilroyFont;

        line-height: calc(45 / 32 * 100%);
      }
      .support__text{
        font-size: 32px;
        font-family: $GilroyFont;

        line-height: calc(45 / 32 * 100%);
      }
    }
    .support__buttons{
      display: flex;
      & > *:not(:last-child){
        margin: 0 16px 0 0;
      }

      @media (max-width: 890px){
        padding: 0 0 30px 0;
      }
      @media (max-width: 500px){
        flex-direction: column;
        & > *:not(:last-child){
          margin: 0 0 10px 0;
        }
      }

      .support-button{

        padding: 14px 24px;
        border-radius: 5px;
        border: none;

        background: #231F20;
        color: white;

        font-size: 18px;
        font-family: $GilroyFont;

        line-height: 22px;
      }
      .border{
        padding: 13.5px 24px;
        background: $orangeColor;
        border: 1px solid black;
        color: black;
      }
    }
  }

}
/***************Blogs******************/
.blogs__body{

  .blogs__header{
    padding: 88px 0 0 0;

    & > *:not(:last-child){
      padding: 0 0 23px 0;
    }
    .blogs__title{
      font-size: 32px;
      font-family: $GilroyFont;

      line-height: calc(38 / 32 * 100%);
    }
    .blogs__text{
      font-size: 18px;
      font-family: $GilroyFont;

      line-height: calc(24 / 23 * 100%);
    }
  }
  .blogs__section{
    display: flex;

    margin: 71px 135px 0 135px;
    background: #231F20;

    @media (max-width: 1260px){
      flex-direction: column;
      margin: 71px 200px 0 200px;
    }
    @media (max-width: 840px){
      margin: 71px 150px 0 150px;
    }
    @media (max-width: 670px){
      margin: 71px 100px 0 100px;
    }
    @media (max-width: 590px){
      margin: 71px 30px 0 30px;
    }

    .blogs__img{
      display: flex;

      @media (max-width: 1260px){
        margin: 30px auto 0 auto;
        max-width: 50%;
      }
      @media (max-width: 930px){
        max-width: 70%;
      }
    }

    .blogs-info{
      text-align: start;

      @media (max-width: 1260px){
        text-align: center;
        padding: 63px 78px 20px 78px;
      }
      @media (max-width: 800px){
        padding: 63px 60px 20px 60px;
      }
      @media (max-width: 425px){
        padding: 63px 50px 20px 50px;
      }

      padding: 63px 200px 40px 78px;
      .blogs-name__text{
        padding: 0 0 27px 0;

        font-size: 14px;
        font-family: $GilroyFont;

        line-height: calc(20 / 14 * 100%);

        color: white;
      }
      .blogs__text{
        padding: 0 0 60px 0;

        font-size: 48px;
        font-family: $GilroyFont;

        line-height: calc(58 / 48 * 100%);

        color: white;

        @media (max-width: 930px){
          font-size: 40px;
        }
        @media (max-width: 670px){
          font-size: 38px;
        }
        @media (max-width: 590px){
          font-size: 34px;
        }
      }
      .blogs__link{
        font-size: 18px;
        font-family: $GilroyFont;

        line-height: calc(25 / 18 * 100%);

        color: white;
        }
      }
    }
  }
  .block-with-more-info{
    margin: 40px 135px 80px 135px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1260px){
      flex-direction: column;
      margin: 40px 200px 80px 200px;
    }
    @media (max-width: 840px){
      margin: 40px 150px 80px 150px;
    }
    @media (max-width: 670px){
      margin: 40px 100px 80px 100px;
    }
    @media (max-width: 590px){
      margin: 40px 30px 40px 30px;
    }

    .find-gifts-for-your-girl{
      display: flex;
      flex-direction: column;
      flex: 0 1 48.8%;
      text-align: start;

      .find-gifts-text{
        padding: 48px 51px 50px 48px;

        @media (max-width: 425px){
          padding: 20px 35px 50px 35px;
        }

        & > *:not(:last-child){
          margin: 0 0 16px 0;
        }

        h3{
          font-size: 24px;
          font-family: $GilroyFont;

          line-height: 24px;
        }
        p{
          padding-top: 16px;

          font-size: 18px;
          font-family: $GilroyFont;

          line-height: 25px;
        }
        a{
            font-size: 14px;
            font-family: $GilroyFont;

            line-height: 20px;

            color: black;
        }
      }
    }
    .find-gifts-for-your-girl:hover{
      box-shadow: 0 0 20px $greyColor;
    }
  }
