@import "variable";

%show-more-about-gifts{
  margin-top: -5px;

  width: 270px;
  height: 166px;

  background: $mainGreyColor;
  box-shadow: none;

  text-align: start;

  .block-with-text{
    padding: 24px 0 0 24px;
    span{

      font-size: 20px;
      font-family: $GilroyFont;
      line-height: 24px;
    }
    p{
      padding-top: 74px;
      font-size: 14px;
      font-family: Roboto;
      font-weight: 400;

      line-height: 19px;
    }
  }
}

.first-block-with-girlfriend{
  display: flex;
  justify-content: space-between;

  background: $greyColor;

  .block-with-title{
    width: 433px;
    text-align: start;

    margin: 0 auto;
    padding-top: 154px;

    h1{
      font-size: 56px;
      font-family: $GilroyFont;

      line-height: 69px;
    }
    p{
      width: 422px;

      font-size: 20px;
      font-family: $GilroyFont;

      line-height: 28px;

      padding-top: 46px;
    }
    button{
      width: 200px;
      height: 60px;

      margin-top: 75px;

      background: $orangeColor;

      border-radius: 5px;
      border: none;

      font-size: 18px;
      font-family: $GilroyFont;

      line-height: 22px;
    }
  }
}
.second-block-with-girlfriend{
  display: flex;

  background: $greyColor;

  .block-with-title{
    width: 441px;

    margin: 0 auto;
    padding-top: 164px;

    text-align: start;


    span{
      font-size: 32px;
      font-family: $GilroyFont;

      line-height: 45px;
    }
    p{
      font-size: 20px;
      font-family: $GilroyFont;

      padding-top: 23px;

      line-height: 28px;
    }
    button{
      width: 200px;
      height: 60px;

      margin-top: 35px;

      border: 1px solid $orangeColor;
      border-radius: 5px;

      font-size: 18px;
      font-family: $GilroyFont;

      line-height: 24px;

      color: $orangeColor;
    }
  }
}
.gifts-for-all-occasions{
  .gifts-title{
    padding-top: 96px;

    span{
      font-size: 32px;
      font-family: $GilroyFont;

      line-height: 38px;
    }
  }
  .gifts-text{
    padding-top: 23px;
    p{
      font-size: 18px;
      font-family: $GilroyFont;

      line-height: 24px;
    }
  }
  .gifts-images{
    padding-top: 64px;

    display: flex;
    justify-content: space-evenly;

    .gifts-on-birthday{
      .show-more-about-gifts{
        @extend %show-more-about-gifts;
      }
      .show-more-about-gifts:hover{
        background: white;
        box-shadow: 0 0 20px $greyColor;
      }
    }
    .gifts-on-anniversary{
      .show-more-about-gifts{
        @extend %show-more-about-gifts;
      }
      .show-more-about-gifts:hover{
        background: white;
        box-shadow: 0 0 20px $greyColor;
      }
    }
    .gifts-on-valentines-day{
      .show-more-about-gifts{
        @extend %show-more-about-gifts;
      }
      .show-more-about-gifts:hover{
        background: white;
        box-shadow: 0 0 20px $greyColor;
      }
    }
    .gifts-on-christmas{
      .show-more-about-gifts{
        @extend %show-more-about-gifts;
      }
      .show-more-about-gifts:hover{
        background: white;
        box-shadow: 0 0 20px $greyColor;
      }
    }
  }
}

.register-block{
  margin-top: 137px;
  height: 240px;

  display: flex;

  background: $orangeColor;

  justify-content: space-evenly;

  align-items: center;

  .block-with-title{
    text-align: start;
    h1{
      font-size: 32px;
      font-family: $GilroyFont;

      line-height: 45px;
    }
    span{
      font-size: 32px;
      font-family: $GilroyFont;

      line-height: 45px;
    }
  }
  .register-button{
    .find-gift-button{
      margin-right: 16px;

      width: 200px;
      height: 50px;

      border-radius: 5px;
      border: none;

      background: #231F20;
      color: white;

      font-size: 18px;
      font-family: $GilroyFont;

      line-height: 22px;
    }
    .info-button{
      width: 200px;
      height: 50px;

      border-radius: 5px;
      border: 1px solid #000;

      background: $orangeColor;

      font-size: 18px;
      font-family: $GilroyFont;

      line-height: 25px;
    }
  }
}
.best-blogs-ever{
  .best-blogs-text{
    padding-top: 88px;
    span{
      font-size: 32px;
      font-family: $GilroyFont;

      line-height: 38px;
    }
    p{
      padding-top: 23px;
      font-size: 18px;
      font-family: $GilroyFont;

      line-height: 24px;
    }
  }
  .best-way-block{
    width: 1170px;
    height: 370px;
    display: flex;

    margin: 0 auto;
    margin-top: 71px;
    background: #231F20;


    .best-way-text{
      text-align: start;

      padding: 63px 0 0 78px;
      span{
        font-size: 14px;
        font-family: $GilroyFont;

        line-height: 20px;

        color: white;
      }
      p{
        width: 492px;

        padding-top: 27px;

        font-size: 48px;
        font-family: $GilroyFont;

        line-height: 58px;

        color: white;
      }
      li{
        padding-top: 60px;
        a{

          font-size: 18px;
          font-family: $GilroyFont;

          line-height: 25px;

          color: white;
        }
      }
    }
  }
  .block-with-more-info{

    width: 1170px;

    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;

    .find-gifts-for-your-girl{
      width: 570px;
      height: 290px;

      text-align: start;

      .find-gifts-text{
        padding: 48px 48px 0 48px;
        h3{
          font-size: 24px;
          font-family: $GilroyFont;

          line-height: 24px;
        }
        p{
          padding-top: 16px;

          font-size: 18px;
          font-family: $GilroyFont;

          line-height: 25px;
        }
        li{
          padding-top: 26px;
          a{
            font-size: 14px;
            font-family: $GilroyFont;

            line-height: 20px;

            color: black;
          }
        }
      }
    }
    .find-gifts-for-your-girl:hover{
      box-shadow: 0 0 20px $greyColor;
    }
  }
}