body {
  padding: 0;
  margin: 0;
}

div, p, a, img, form, button {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  padding: 0 30px;
  box-sizing: content-box;
}

@font-face {
  font-family: Gilroy;
  src: url("/Gilroy-FREE");
}
/*HEADER*/
.header-body {
  width: 100%;
  background: #FAFAFA;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-body .header-text-logo .text-logo {
  font-size: 18px;
  font-family: Homemade Apple;
  font-weight: 400;
  line-height: 38px;
  padding: 39px 80px;
}
.header-body .header-menu-link {
  margin: 0 auto;
  text-align: center;
}
.header-body .header-menu-link .menu-link {
  display: flex;
}
.header-body .header-menu-link .menu-link > *:not(:last-child) {
  padding: 0 31px 0 0;
}
.header-body .header-menu-link .menu-link .nav-link {
  font-size: 18px;
  line-height: 22px;
  font-family: Gilroy, sans-serif;
  text-decoration: none;
  color: black;
}
.header-body .button-in-menu {
  width: 150px;
  height: 43px;
  margin: 36px 34px 35px;
  border-radius: 5px;
  border: 1px solid #F7941E;
  font-size: 18px;
  line-height: 22px;
  background: #FAFAFA;
  color: #F7941E;
}

@font-face {
  font-family: Gilroy;
  src: url("/Gilroy-FREE");
}
/**************Page__Gift**********************/
.gift-body .body-section {
  display: flex;
  justify-content: space-between;
  background: #F1F1F2;
}
.gift-body .body-section .body-section__column .body-section__item {
  padding: 154px 126px 127px 162px;
  text-align: start;
}
.gift-body .body-section .body-section__column .body-section__item .body-section__title {
  font-size: 56px;
  font-family: Gilroy, sans-serif;
  line-height: 123.2142857143%;
  padding: 0 0 36px 0;
}
.gift-body .body-section .body-section__column .body-section__item .body-section__text {
  width: 422px;
  font-size: 20px;
  font-family: Gilroy, sans-serif;
  line-height: 28px;
  padding: 0 0 52px 0;
}
.gift-body .body-section .body-section__column .body-section__item .body-section__button {
  background: #F7941E;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  line-height: 122.2222222222%;
  color: white;
  padding: 23px 25px;
}
.gift-body .body-section .body-section__img {
  display: flex;
}

.c-body-section {
  display: flex;
  background: #F1F1F2;
}
.c-body-section .c-body-section__img {
  display: flex;
}
.c-body-section .c-body-section__column {
  text-align: start;
}
.c-body-section .c-body-section__column .c-body-section__item {
  padding: 151px 166px 104px 102px;
}
.c-body-section .c-body-section__column .c-body-section__item .c-body-section__title {
  font-size: 32px;
  font-family: Gilroy, sans-serif;
  line-height: 140.625%;
  margin: 0 0 23px 0;
}
.c-body-section .c-body-section__column .c-body-section__item .c-body-section__text {
  font-size: 20px;
  font-family: Gilroy, sans-serif;
  margin: 0 12px 35px 0;
  text-align: justify;
  line-height: 28px;
}
.c-body-section .c-body-section__column .c-body-section__item .c-body-section__button {
  border: 1px solid #F7941E;
  border-radius: 5px;
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  padding: 24px 46px;
  line-height: 133.3333333333%;
  color: #F7941E;
}

/***************Occasion******************/
.occasions-body .occasion-header {
  padding: 96px 0 64px 0;
}
.occasions-body .occasion-header .occasion__title {
  font-size: 32px;
  font-family: Gilroy, sans-serif;
  line-height: 118.75%;
  padding: 0 0 23px 0;
}
.occasions-body .occasion__text {
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  line-height: 133.3333333333%;
}
.occasions-body .occasion-images {
  display: flex;
  justify-content: space-evenly;
}
.occasions-body .occasion-images .occasion-column .occasion__img {
  display: flex;
}
.occasions-body .occasion-images .occasion-column .occasion-info {
  background: #FAFAFA;
  box-shadow: none;
  text-align: start;
}
.occasions-body .occasion-images .occasion-column .occasion-info .occasion__link {
  padding: 24px 0 24px 24px;
}
.occasions-body .occasion-images .occasion-column .occasion-info .occasion__link .occasion__text {
  font-size: 20px;
  font-family: Gilroy, sans-serif;
  line-height: 120%;
  padding: 0 0 74px 0;
}
.occasions-body .occasion-images .occasion-column .occasion-info .occasion__link .occasion-link {
  padding-top: 74px;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 135.7142857143%;
  color: black;
}
.occasions-body .occasion-images .occasion-column .occasion-info:hover {
  background: white;
  box-shadow: 0 0 20px #F1F1F2;
}

/*************Support****************/
.page__support {
  padding: 137px 0 0 0;
}
.page__support .support__body {
  display: flex;
  background: #F7941E;
  justify-content: space-evenly;
  align-items: center;
}
.page__support .support__body .support-item {
  text-align: start;
  padding: 75px 0;
}
.page__support .support__body .support-item .support__title {
  font-size: 32px;
  font-family: Gilroy, sans-serif;
  line-height: 140.625%;
}
.page__support .support__body .support-item .support__text {
  font-size: 32px;
  font-family: Gilroy, sans-serif;
  line-height: 140.625%;
}
.page__support .support__body .support__buttons {
  display: flex;
}
.page__support .support__body .support__buttons > *:not(:last-child) {
  margin: 0 16px 0 0;
}
.page__support .support__body .support__buttons .support-button {
  padding: 14px 24px;
  border-radius: 5px;
  border: none;
  background: #231F20;
  color: white;
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  line-height: 22px;
}
.page__support .support__body .support__buttons .border {
  padding: 13.5px 24px;
  background: #F7941E;
  border: 1px solid black;
  color: black;
}

/***************Blogs******************/
.blogs__body .blogs__header {
  padding: 88px 0 0 0;
}
.blogs__body .blogs__header > *:not(:last-child) {
  padding: 0 0 23px 0;
}
.blogs__body .blogs__header .blogs__title {
  font-size: 32px;
  font-family: Gilroy, sans-serif;
  line-height: 118.75%;
}
.blogs__body .blogs__header .blogs__text {
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  line-height: 104.347826087%;
}
.blogs__body .blogs__section {
  display: flex;
  margin: 71px 135px 0 135px;
  background: #231F20;
}
.blogs__body .blogs__section .blogs__img {
  display: flex;
}
.blogs__body .blogs__section .blogs-info {
  text-align: start;
  padding: 63px 200px 0 78px;
}
.blogs__body .blogs__section .blogs-info .blogs-name__text {
  padding: 0 0 27px 0;
  font-size: 14px;
  font-family: Gilroy, sans-serif;
  line-height: 142.8571428571%;
  color: white;
}
.blogs__body .blogs__section .blogs-info .blogs__text {
  padding: 0 0 60px 0;
  font-size: 48px;
  font-family: Gilroy, sans-serif;
  line-height: 120.8333333333%;
  color: white;
}
.blogs__body .blogs__section .blogs-info .blogs__link {
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  line-height: 138.8888888889%;
  color: white;
}

.block-with-more-info {
  margin: 40px 135px 80px 135px;
  display: flex;
  justify-content: space-between;
}
.block-with-more-info .find-gifts-for-your-girl {
  display: flex;
  flex-direction: column;
  flex: 0 1 48.8%;
  text-align: start;
}
.block-with-more-info .find-gifts-for-your-girl .find-gifts-text {
  padding: 48px 51px 50px 48px;
}
.block-with-more-info .find-gifts-for-your-girl .find-gifts-text > *:not(:last-child) {
  margin: 0 0 16px 0;
}
.block-with-more-info .find-gifts-for-your-girl .find-gifts-text h3 {
  font-size: 24px;
  font-family: Gilroy, sans-serif;
  line-height: 24px;
}
.block-with-more-info .find-gifts-for-your-girl .find-gifts-text p {
  padding-top: 16px;
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  line-height: 25px;
}
.block-with-more-info .find-gifts-for-your-girl .find-gifts-text a {
  font-size: 14px;
  font-family: Gilroy, sans-serif;
  line-height: 20px;
  color: black;
}
.block-with-more-info .find-gifts-for-your-girl:hover {
  box-shadow: 0 0 20px #F1F1F2;
}

@font-face {
  font-family: Gilroy;
  src: url("/Gilroy-FREE");
}
.footer-background {
  height: 410px;
  background: #FAFAFA;
}
.footer-background .block-with-link {
  width: 1000px;
  margin: 0 auto;
  padding-top: 106px;
  display: flex;
  justify-content: space-evenly;
}
.footer-background .block-with-link p {
  font-size: 18px;
  font-family: Homemade Apple;
  font-weight: 400;
  line-height: 39px;
  color: #F7941E;
}
.footer-background .block-with-link ul {
  display: flex;
}
.footer-background .block-with-link ul li {
  font-size: 14px;
  font-family: Gilroy, sans-serif;
  line-height: 20px;
}
.footer-background .block-with-link ul li a {
  color: black;
}
.footer-background .block-with-link ul li .link {
  padding-right: 81px;
}
.footer-background .footer-line {
  width: 1000px;
  border: 0.1px solid black;
  margin: 0 auto;
  margin-top: 43px;
}
.footer-background .website-link img {
  padding: 55px 25px 0 0;
}
.footer-background .private-terms {
  display: flex;
  justify-content: center;
  margin-top: 72px;
}
.footer-background .private-terms span {
  font-size: 14px;
  font-family: Gilroy, sans-serif;
  line-height: 20px;
  padding-right: 14px;
}

@font-face {
  font-family: Gilroy;
  src: url("/Gilroy-FREE");
}

/*# sourceMappingURL=style.css.map */
