body {
  padding: 0;
  margin: 0;
}

div, p, a, img, form, button {
  box-sizing: border-box;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Gilroy;
  src: url("/Gilroy-FREE");
}
/*HEADER*/
.container {
  width: 1440px;
  margin: 0 auto;
  text-align: center;
}

.header-menu {
  width: 100%;
  height: 116px;
  background: #FAFAFA;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu .text-logo p {
  font-size: 18px;
  font-family: Homemade Apple;
  font-weight: 400;
  line-height: 38px;
  padding: 39px 80px;
}
.header-menu .menu-with-link {
  margin: 0 auto;
  text-align: center;
}
.header-menu .menu-with-link .menu-link {
  display: flex;
}
.header-menu .menu-with-link .menu-link .nav-link {
  font-size: 18px;
  line-height: 22px;
  font-family: Gilroy, sans-serif;
  text-decoration: none;
  color: black;
}
.header-menu .menu-with-link .menu-link .link {
  padding-right: 31px;
}
.header-menu .button-in-menu {
  width: 150px;
  height: 43px;
  margin: 36px 34px 35px;
  border-radius: 5px;
  border: 1px solid #F7941E;
  font-size: 18px;
  line-height: 22px;
  background: #FAFAFA;
  color: #F7941E;
}

@font-face {
  font-family: Gilroy;
  src: url("/Gilroy-FREE");
}
.gifts-for-all-occasions .gifts-images .gifts-on-christmas .show-more-about-gifts, .gifts-for-all-occasions .gifts-images .gifts-on-valentines-day .show-more-about-gifts, .gifts-for-all-occasions .gifts-images .gifts-on-anniversary .show-more-about-gifts, .gifts-for-all-occasions .gifts-images .gifts-on-birthday .show-more-about-gifts {
  margin-top: -5px;
  width: 270px;
  height: 166px;
  background: #FAFAFA;
  box-shadow: none;
  text-align: start;
}
.gifts-for-all-occasions .gifts-images .gifts-on-christmas .show-more-about-gifts .block-with-text, .gifts-for-all-occasions .gifts-images .gifts-on-valentines-day .show-more-about-gifts .block-with-text, .gifts-for-all-occasions .gifts-images .gifts-on-anniversary .show-more-about-gifts .block-with-text, .gifts-for-all-occasions .gifts-images .gifts-on-birthday .show-more-about-gifts .block-with-text {
  padding: 24px 0 0 24px;
}
.gifts-for-all-occasions .gifts-images .gifts-on-christmas .show-more-about-gifts .block-with-text span, .gifts-for-all-occasions .gifts-images .gifts-on-valentines-day .show-more-about-gifts .block-with-text span, .gifts-for-all-occasions .gifts-images .gifts-on-anniversary .show-more-about-gifts .block-with-text span, .gifts-for-all-occasions .gifts-images .gifts-on-birthday .show-more-about-gifts .block-with-text span {
  font-size: 20px;
  font-family: Gilroy, sans-serif;
  line-height: 24px;
}
.gifts-for-all-occasions .gifts-images .gifts-on-christmas .show-more-about-gifts .block-with-text p, .gifts-for-all-occasions .gifts-images .gifts-on-valentines-day .show-more-about-gifts .block-with-text p, .gifts-for-all-occasions .gifts-images .gifts-on-anniversary .show-more-about-gifts .block-with-text p, .gifts-for-all-occasions .gifts-images .gifts-on-birthday .show-more-about-gifts .block-with-text p {
  padding-top: 74px;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 19px;
}

.first-block-with-girlfriend {
  display: flex;
  justify-content: space-between;
  background: #F1F1F2;
}
.first-block-with-girlfriend .block-with-title {
  width: 433px;
  text-align: start;
  margin: 0 auto;
  padding-top: 154px;
}
.first-block-with-girlfriend .block-with-title h1 {
  font-size: 56px;
  font-family: Gilroy, sans-serif;
  line-height: 69px;
}
.first-block-with-girlfriend .block-with-title p {
  width: 422px;
  font-size: 20px;
  font-family: Gilroy, sans-serif;
  line-height: 28px;
  padding-top: 46px;
}
.first-block-with-girlfriend .block-with-title button {
  width: 200px;
  height: 60px;
  margin-top: 75px;
  background: #F7941E;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  line-height: 22px;
}

.second-block-with-girlfriend {
  display: flex;
  background: #F1F1F2;
}
.second-block-with-girlfriend .block-with-title {
  width: 441px;
  margin: 0 auto;
  padding-top: 164px;
  text-align: start;
}
.second-block-with-girlfriend .block-with-title span {
  font-size: 32px;
  font-family: Gilroy, sans-serif;
  line-height: 45px;
}
.second-block-with-girlfriend .block-with-title p {
  font-size: 20px;
  font-family: Gilroy, sans-serif;
  padding-top: 23px;
  line-height: 28px;
}
.second-block-with-girlfriend .block-with-title button {
  width: 200px;
  height: 60px;
  margin-top: 35px;
  border: 1px solid #F7941E;
  border-radius: 5px;
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  line-height: 24px;
  color: #F7941E;
}

.gifts-for-all-occasions .gifts-title {
  padding-top: 96px;
}
.gifts-for-all-occasions .gifts-title span {
  font-size: 32px;
  font-family: Gilroy, sans-serif;
  line-height: 38px;
}
.gifts-for-all-occasions .gifts-text {
  padding-top: 23px;
}
.gifts-for-all-occasions .gifts-text p {
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  line-height: 24px;
}
.gifts-for-all-occasions .gifts-images {
  padding-top: 64px;
  display: flex;
  justify-content: space-evenly;
}
.gifts-for-all-occasions .gifts-images .gifts-on-birthday .show-more-about-gifts:hover {
  background: white;
  box-shadow: 0 0 20px #F1F1F2;
}
.gifts-for-all-occasions .gifts-images .gifts-on-anniversary .show-more-about-gifts:hover {
  background: white;
  box-shadow: 0 0 20px #F1F1F2;
}
.gifts-for-all-occasions .gifts-images .gifts-on-valentines-day .show-more-about-gifts:hover {
  background: white;
  box-shadow: 0 0 20px #F1F1F2;
}
.gifts-for-all-occasions .gifts-images .gifts-on-christmas .show-more-about-gifts:hover {
  background: white;
  box-shadow: 0 0 20px #F1F1F2;
}

.register-block {
  margin-top: 137px;
  height: 240px;
  display: flex;
  background: #F7941E;
  justify-content: space-evenly;
  align-items: center;
}
.register-block .block-with-title {
  text-align: start;
}
.register-block .block-with-title h1 {
  font-size: 32px;
  font-family: Gilroy, sans-serif;
  line-height: 45px;
}
.register-block .block-with-title span {
  font-size: 32px;
  font-family: Gilroy, sans-serif;
  line-height: 45px;
}
.register-block .register-button .find-gift-button {
  margin-right: 16px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background: #231F20;
  color: white;
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  line-height: 22px;
}
.register-block .register-button .info-button {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #000;
  background: #F7941E;
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  line-height: 25px;
}

.best-blogs-ever .best-blogs-text {
  padding-top: 88px;
}
.best-blogs-ever .best-blogs-text span {
  font-size: 32px;
  font-family: Gilroy, sans-serif;
  line-height: 38px;
}
.best-blogs-ever .best-blogs-text p {
  padding-top: 23px;
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  line-height: 24px;
}
.best-blogs-ever .best-way-block {
  width: 1170px;
  height: 370px;
  display: flex;
  margin: 0 auto;
  margin-top: 71px;
  background: #231F20;
}
.best-blogs-ever .best-way-block .best-way-text {
  text-align: start;
  padding: 63px 0 0 78px;
}
.best-blogs-ever .best-way-block .best-way-text span {
  font-size: 14px;
  font-family: Gilroy, sans-serif;
  line-height: 20px;
  color: white;
}
.best-blogs-ever .best-way-block .best-way-text p {
  width: 492px;
  padding-top: 27px;
  font-size: 48px;
  font-family: Gilroy, sans-serif;
  line-height: 58px;
  color: white;
}
.best-blogs-ever .best-way-block .best-way-text li {
  padding-top: 60px;
}
.best-blogs-ever .best-way-block .best-way-text li a {
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  line-height: 25px;
  color: white;
}
.best-blogs-ever .block-with-more-info {
  width: 1170px;
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}
.best-blogs-ever .block-with-more-info .find-gifts-for-your-girl {
  width: 570px;
  height: 290px;
  text-align: start;
}
.best-blogs-ever .block-with-more-info .find-gifts-for-your-girl .find-gifts-text {
  padding: 48px 48px 0 48px;
}
.best-blogs-ever .block-with-more-info .find-gifts-for-your-girl .find-gifts-text h3 {
  font-size: 24px;
  font-family: Gilroy, sans-serif;
  line-height: 24px;
}
.best-blogs-ever .block-with-more-info .find-gifts-for-your-girl .find-gifts-text p {
  padding-top: 16px;
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  line-height: 25px;
}
.best-blogs-ever .block-with-more-info .find-gifts-for-your-girl .find-gifts-text li {
  padding-top: 26px;
}
.best-blogs-ever .block-with-more-info .find-gifts-for-your-girl .find-gifts-text li a {
  font-size: 14px;
  font-family: Gilroy, sans-serif;
  line-height: 20px;
  color: black;
}
.best-blogs-ever .block-with-more-info .find-gifts-for-your-girl:hover {
  box-shadow: 0 0 20px #F1F1F2;
}

@font-face {
  font-family: Gilroy;
  src: url("/Gilroy-FREE");
}
.footer-background {
  height: 410px;
  background: #FAFAFA;
}
.footer-background .block-with-link {
  width: 1000px;
  margin: 0 auto;
  padding-top: 106px;
  display: flex;
  justify-content: space-evenly;
}
.footer-background .block-with-link p {
  font-size: 18px;
  font-family: Homemade Apple;
  font-weight: 400;
  line-height: 39px;
  color: #F7941E;
}
.footer-background .block-with-link ul {
  display: flex;
}
.footer-background .block-with-link ul li {
  font-size: 14px;
  font-family: Gilroy, sans-serif;
  line-height: 20px;
}
.footer-background .block-with-link ul li a {
  color: black;
}
.footer-background .block-with-link ul li .link {
  padding-right: 81px;
}
.footer-background .footer-line {
  width: 1000px;
  border: 0.1px solid black;
  margin: 0 auto;
  margin-top: 43px;
}
.footer-background .website-link img {
  padding: 55px 25px 0 0;
}
.footer-background .private-terms {
  display: flex;
  justify-content: center;
  margin-top: 72px;
}
.footer-background .private-terms span {
  font-size: 14px;
  font-family: Gilroy, sans-serif;
  line-height: 20px;
  padding-right: 14px;
}

@font-face {
  font-family: Gilroy;
  src: url("/Gilroy-FREE");
}

/*# sourceMappingURL=style.css.map */
